# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# Git
.git/
.gitignore

# IDE / Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Tests & docs (optional for prod)
tests/
docs/

# Logs
*.log

# Docker itself
Dockerfile
docker-compose.yml
